.lista {
    text-align: left; 
}

.tb {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
}

.t1, .t2 {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.header {
    text-align:center;
    
}

body {
    background-color: #e3f2fd;
}

